
// @media (max-width: 1200px)

// @media (max-width: 992px)

// @media (max-width: 768px)

@media (max-width: 576px)
  .main
    background-image: none
    &-wrapper
      // background-image: url('../img/pattern.jpg')
      margin: 0 auto

// @media  (min-width: 300px) and (max-width: 630px)

@media (max-width: 576px)
  .invitation
    &__title
      font-size: 32px
      line-height: 21px
    &__description
      font-size: 20px
      line-height: 21px
    &__note
      font-size: 14px
      line-height: 16px

  .calendar
    &__title
      font-size: 14px
      line-height: 16px
    &__ring
      top: 23px
      right: 45px

  .ivent
    &__title
      font-size: 14px
      line-height: 16px
    &__description
      font-size: 12px
      line-height: 14px
